<div class="container pt-5 pb-5">
    <div class="products" id="app-products"></div>
    
    <!-- <div class="d-flex justify-content-between align-items-center">
        <h1><%= q.replace('_', ' ') %></h1>
        <ul class="pagination">
            <li class="page-item <% if(!result.hasPrevPage) { %>disabled<%} %>">
                <% if(!result.hasPrevPage) { %>
                    <span class="page-link">Previous</span>
                <% } else { %>
                    <a class="page-link" href="/products?q=<%=q %>&page=<%= result.prevPage %>">Previous</a>
                <% } %>
            </li>    
    
            <% if(result.prevPage) { %>
                <li class="page-item"><a class="page-link" href="/products?q=<%= q %>&page=<%= result.prevPage %>"><%= result.prevPage %></a></li>
            <% } %>
            
            <li class="page-item active">
                <span class="page-link"><%= p %></span>
            </li>

            <% if(result.nextPage) { %>
                <li class="page-item"><a class="page-link" href="/products?q=<%= q %>&page=<%= result.nextPage %>"><%= result.nextPage %></a></li>
            <% } %>
   
            <li class="page-item <% if(!result.nextPage) { %>disabled<% } %>">
                <% if(!result.nextPage) { %>
                    <span class="page-link">Next</span>
                <% } else { %>
                    <a class="page-link" href="/products?q=<%= q %>&page=<%= result.nextPage %>">Next</a>
                <% } %>
            </li>    
        </ul>
    </div>
    
    <div class="products">     
        <% result.docs.forEach((product, i) => { %>
            <a href="/product/<%= product._id %>">
                <span class="product-price">€<%= product.price %></span>

                <div class="product-img">
                    <img src="<%= product.variants[0].img.src %>" alt="<%= product.variants[0].img.alt %>" class="p-focused" id="<%= product._id %>" loading="lazy">
                </div>
                <div class="product-body">
                    <p class="product-title"><%= product.title %></p>
                </div>
            </a>
        <% }) %>
    </div>


    <div class="d-flex justify-content-between align-items-center pt-4">
        <a class="btn btn-secondary" href="/collections">
            Back To Collections
        </a>
        <ul class="pagination mb-0">
            <li class="page-item <% if(!result.hasPrevPage) { %>disabled<%} %>">
                <% if(!result.hasPrevPage) { %>
                    <span class="page-link">Previous</span>
                <% } else { %>
                    <a class="page-link" href="/products?q=<%=q %>&page=<%= result.prevPage %>">Previous</a>
                <% } %>
            </li>    
    
            <% if(result.prevPage) { %>
                <li class="page-item"><a class="page-link" href="/products?q=<%= q %>&page=<%= result.prevPage %>"><%= result.prevPage %></a></li>
            <% } %>
            
            <li class="page-item active">
                <span class="page-link"><%= p %></span>
            </li>

            <% if(result.nextPage) { %>
                <li class="page-item"><a class="page-link" href="/products?q=<%= q %>&page=<%= result.nextPage %>"><%= result.nextPage %></a></li>
            <% } %>
   
            <li class="page-item <% if(!result.nextPage) { %>disabled<% } %>">
                <% if(!result.nextPage) { %>
                    <span class="page-link">Next</span>
                <% } else { %>
                    <a class="page-link" href="/products?q=<%= q %>&page=<%= result.nextPage %>">Next</a>
                <% } %>
            </li>    
        </ul>
    </div> -->
</div>