<div class="container pt-5 pb-5">
    <a href="<%= referer %>">Go Back</a>

    <h1><%= product.title %></h1>
    <% product.variants.forEach(variant => { %>
        <img src="<%= variant.img.src %>" />
    <% }) %>
    
    <br/><br/>

    <% product.description.forEach(paragraph => { %>
        <p><%= paragraph %></p>
    <% }) %>

    <h3 class="mb-4 mt-4">€<%= product.price %></h3>

    <form method="POST" action="/cart/add/<%= product._id %>">
        <button type="submit" class="btn btn-primary">Add To Cart</button>
    </form>
</div>