<div class="container pt-5 pb-5">
    <h1>
        <div class="display-2"><%= q.replace('_', ' ') %></div>
        <span class="text-muted">Page: <%= p %></span>
    </h1>

    <div class="pagination pb-3 pagination-top">
        <div>
            <a class="btn btn-primary<% if(!result.hasPrevPage) { %> disabled<% } %>" href="<% if(result.hasPrevPage) { %>/products?q=<%=q %>&page=<%=result.prevPage%> <% } %>">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="btn btn-primary<% if(!result.hasNextPage){ %> disabled<% }  %>" href="<% if(result.hasNextPage) { %>/products?q=<%=q %>&page=<%=result.nextPage%><% } %>">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <div class="products">     
        <% result.docs.forEach((product, i) => { %>
            <a href="/product/<%= product._id %>">
                <img src="<%= product.variants[0].img.src %>" alt="<%= product.variants[0].img.alt %>" class="p-focused" id="<%= product._id %>" loading="lazy">
                <div class="product-body">
                    €<%= product.price %>
                </div>
            </a>
        <% }) %>
    </div>

    <div class="pagination pagination-btm pt-3">
        <div>
            <a class="btn btn-secondary" href="/collections">
                Back To Collections
            </a>
        </div>

        <div>
            <a class="btn btn-primary<% if(!result.hasPrevPage) { %> disabled<% } %>" href="<% if(result.hasPrevPage) { %>/products?q=<%=q %>&page=<%=result.prevPage%> <% } %>">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="btn btn-primary<% if(!result.hasNextPage){ %> disabled<% }  %>" href="<% if(result.hasNextPage) { %>/products?q=<%=q %>&page=<%=result.nextPage%><% } %>">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <div class="footer-navigation pt-3">
    </div>
</div>