<% 
function onSalePrice(pr) {
    let mb = (100 - pr.on_sale_percentage) / 100;
    return Math.round(pr.price * mb);
}
%> 

 <div class="checkout-page container pt-5 pb-5">
    <% if(cart.length > 0) { %>
        <div class="row">
            <div class="col-md-8 mb-4">
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    </div>
                    <div class="mb-4">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                    </div>
                    <div class="mb-4">
                        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-4">
                            <label for="country">Country</label>
                            <select class="form-select" id="country" required="">
                                <% data.countries.forEach(country => { %>
                                    <option value="<%= country.code %>"><%= country.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="state">State / Region <span class="text-muted"></span></label>
                            <input type="text" class="form-control" id="state" placeholder="State or region">
                        </div>
                        <div class="col-md-3 mb-4">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required="">
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="same-address">
                        <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info">
                        <label class="custom-control-label" for="save-info">Save this information for next time</label>
                    </div>
                    <hr class="mb-4">
                    <h4 class="mb-4">Payment</h4>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="paypal">PayPal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-4">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        </div>
                        <div class="col-md-3 mb-4">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Complete Checkout</button>
                </form>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <% cart.forEach(product => { %>
                    <li class="list-group-item pt-3 pb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/product/<%= product._id %>" class="text-decoration-none">
                                <h5 class="text-capitalize"><%= product.title %></h5>
                            </a>
                            <span class="badge bg-primary"><%= product.qty %></span>
                        </div>
    
                        <div class="pb-3 pt-1">
                            <small class="m-0"><%= product.description[0].substring(0, 30) %>..</small>
                        </div>
    
                        <div class="d-flex justify-content-between align-items-center">
                            <span>€<%= product.on_sale ? onSalePrice(product) : product.price * product.qty %></span>
                            <a href="/remove-from-cart/<%= product._id %>" class="text-decoration-none" title="remove">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    <% }) %>
                </ul>
    
                <strong class="mt-3 d-block">Total Cost: €<%= totalCost %></strong>
            </div>
        </div>
    <% } else { %>

        <h3 class="display-2">Your cart is empty</h3>
        <div class="d-flex pt-1">
            <a href="/collections" class="me-4 btn btn-primary">Browse collection</a>
            <a href="/products?q=all&page=1" class="me-4 btn btn-primary">All Products</a>
            <a href="/products?q=on_sale&page=1" class="btn btn-primary">On Sale Products</a>
        </div>
    <% } %>
</div>