<div class="container pt-5 pb-5">
    <div class="pb-5">
        <div class="row">
            <div class="col-md-6">
                <a href="<%= referer %>" class="btn btn-secondary go-back" title="Go back"><i class="fas fa-chevron-left"></i></a>

                <img id="selected-img" src="/uploads/<%= product.variants[0].img.src %>" style="max-width: 100%"/>

                <div class="image-picker">
                    <% product.variants.forEach(variant => { %>
                        <img src="/uploads/<%= variant.img.src %>" style="max-width: 100%"/>
                    <% }) %>
                </div>
            </div>
 
            <div class="col-md-6">
                <h1><%= product.title %></h1>
        
                <div>
                    <%- product.description[0] %>
                </div>
            
                <h3 class="mb-4 mt-4">€<%= product.price %></h3>
            
                <a href="/add-to-cart/<%= product._id %>" class="btn btn-primary">
                    Add To Cart
                </a>
            </div>
        </div>
    </div>

    <% if(simillar_products.length > 0) { %>
        <hr>

        <div class="pt-5 pb-5">
            <h2 class="mb-5 text-center display-3">Simillar Products</h2>
            <div class="simillar-products">
                <div class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <% simillar_products.forEach(product => { %>
                                <li class="splide__slide">
                                    <a href="/product/<%= product._id %>">
                                        <img src="/uploads/<%= product.variants[0].img.src %>" alt="<%= product.variants[0].img.alt %>">
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>