<% 
    function onSalePrice(pr) {
        let mb = (100 - pr.on_sale_percentage) / 100;
        console.log(Math.round(pr.price * mb));
        console.log(pr.on_sale_percentage)
        return Math.round(pr.price * mb);
    }
%> 
<div class="container pt-5 pb-5">
    <div class="pb-5">
        <div class="row">
            <div class="col-md-6">
                <a href="<%= referer %>" class="btn btn-secondary go-back" title="Go back"><i class="fas fa-chevron-left"></i></a>

                <img id="selected-img" src="/uploads/<%= product.variants[0].img.src %>" style="max-width: 100%"/>

                <div class="image-picker">
                    <% product.variants.forEach(variant => { %>
                        <img src="/uploads/<%= variant.img.src %>" style="max-width: 100%"/>
                    <% }) %>
                </div>
            </div>
 
            <div class="col-md-6" id="product-info">
                <% if(typeof user == 'object' && user && user.admin) { %>
                    <div class="product-actions d-flex">
                        <a class="me-3 toggle-edit-form text-decoration-none"><i class="fas fa-edit"></i></a>
                        <a class="text-decoration-none" href="/admin/delete-product/<%= product._id %>"><i class="fas fa-trash"></i></a>
                    </div>
                <% } %>

                <h1><%= product.title %></h1>
        
                <div class="product-description">
                    <%- product.description[0] %>
                </div>
            
                <% if(product.on_sale) { %>
                    <div class="price">
                        <span class="green">€<%= onSalePrice(product) %></span>
                        <span class="red">€<%= product.price %></span>
                    </div>
                <% } else { %>
                    <h3 class="mb-4 mt-4 green">€<%= product.price %></h3>
                <% } %>

                <a href="/add-to-cart/<%= product._id %>" class="btn btn-primary">
                    Add To Cart
                </a>

                <% if(typeof user == 'object' && user && user.admin) { %>
                    <form method="POST" action="/admin/update-product/<%= product._id %>" class="update-product-form">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" name="title" id="title" value="<%= product.title %>">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" name="description"><%= product.description[0] %></textarea>
                        </div>
                        <div class="form-check mb-3">
                            <% if(product.on_sale) { %>
                                <input class="form-check-input" type="checkbox" name="on_sale" id="on_sale" checked>
                            <% } else { %>
                                <input class="form-check-input" type="checkbox" name="on_sale" id="on_sale">
                            <% } %>
                            <label class="form-check-label" for="on_sale">On Sale</label>
                        </div>
                        <div class="mb-3 d-none osp">
                            <label for="osp" class="form-label">On Sale Percentage</label>
                            <input type="number" class="form-control" name="on_sale_percentage" id="osp" value="<%= product.on_sale_percentage %>">
                        </div>
                        <button class="btn btn-primary">Save Product</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>

    <% if(simillar_products.length > 0) { %>
        <hr>

        <div class="pt-5 pb-5">
            <h2 class="mb-5 text-center display-3">Simillar Products</h2>
            <div class="simillar-products">
                <div class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <% simillar_products.forEach(product => { %>
                                <li class="splide__slide">
                                    <a href="/product/<%= product._id %>">
                                        <img src="/uploads/<%= product.variants[0].img.src %>" alt="<%= product.variants[0].img.alt %>">
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>